.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.minorTick {
  width: 3;
  fill: black;
}

.majorTick {
  fill: black;
  width: 6;
}