.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.minorTick {
  width: 3;
  fill: white;
}

.majorTick {
  fill: white;
  width: 6;
}

.numbers {
  font-size: 25;
  font-family: FBNucleon-Black;
  text-anchor: middle;
  text-length: 3;
  fill: white;
}

#moonIcon {
  x: "50% - 13";
  y: "25%";
  width: "26";
  height: "26";
  fill: white; 
  opacity: 1;
}

#moonPaseLabel {
  x: "50%";
  y: "41%";
  font-size: 20;
  font-family: FBNucleon-Bold;
  text-anchor: middle;
  text-length: 4;
  fill: white;
}

#amPmLabel {
  x: "50%";
  y: "63%";
  font-size: 22;
  font-family: FBNucleon-Bold;
  text-anchor: middle;
  text-length: 3;
  fill: white;
}

#datelabel {
  font-size: 28;
  font-family: FBNucleon-Bold;
  text-anchor: middle;
  text-length: 7;
  fill: white;
}
