.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.minorTick {
  width: 3;
  fill: black;
}

.majorTick {
  fill: black;
  width: 6;
}

.numbers {
  font-size: 25;
  font-family: FBNucleon-Black;
  text-anchor: middle;
  text-length: 3;
  fill: black;
}

#datelabel {
  font-size: 28;
  font-family: FBNucleon-Bold;
  text-anchor: middle;
  text-length: 7;
  fill: black;
}
